body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.introduction {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.left, .right {
    flex: 1;
}

.right {
    display: flex;
}

.right img {
    min-width: 100px;
    max-width: 100%;
    height: auto;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}